#	IDE自动生成的配置文件
.idea
.vs

#	临时文件或者目标文件
Bin
Lib
Temp
Pkg

#	目标文件类型
*.exe
*.dll
*.lib

#	调试文件和中间文件
*.ilk
*.pdb
*.map
*.bsc
*.sdf
*.ipch
*.obj
*.sbr
*.pch
*.tlog
*.log
*.idb
*.cache
*.exp
*.aps
*.iobj
*.suo
*.user
*.res

#	打包中间文件
*.tar
*.gz
*.zip

#	IDE管理类文件
*.manifest
*.opensdf
*.lastbuildstate
*.unsuccessfulbuild
*.vcxproj.FileListAbsolute.txt

